<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile of {{.ProfileUser.Username}}</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header>
      <h1>Profile of {{.ProfileUser.Username}}</h1>
    </header>
    <nav>
      <a href="/">Home</a>
      {{if .CurrentUser}}
      <span
        >Bienvenue,
        <a href="/profile/{{.CurrentUser}}">{{.CurrentUser}}</a>!</span
      >
      <a href="/logout">Logout</a>
      {{else}}
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      {{end}}
    </nav>
    <div class="container">
      <h2>Posts by {{.ProfileUser.Username}}</h2>
      {{range .Posts}}
      <div class="post">
        <h3><a href="/post/{{.ID}}">{{.Title}}</a></h3>
        <p>{{.Content}}</p>
        <p><em>Posted in {{.Category}}</em></p>
      </div>
      {{else}}
      <p>No posts available</p>
      {{end}}
    </div>
    <footer>
      <p>&copy; 2024 Forum</p>
    </footer>
  </body>
</html>
