<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Followers of {{.ProfileUser.Username}}</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header>
      <h1>Followers of {{.ProfileUser.Username}}</h1>
    </header>
    <nav>
      <a href="/">Home</a>
      {{if .CurrentUser}}
      <span
        >Bienvenue,
        <a href="/profile/{{.CurrentUser}}">{{.CurrentUser}}</a>!</span
      >
      <a href="/logout">Logout</a>
      {{else}}
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      {{end}}
    </nav>
    <div class="container">
      <h2>Followers</h2>
      <ul>
        {{range .Followers}}
        <li>
          <a href="/profile/{{.Follower.Username}}">{{.Follower.Username}}</a>
        </li>
        {{end}}
      </ul>
    </div>
    <footer>
      <p>&copy; 2024 Forum</p>
    </footer>
  </body>
</html>
